
 #mypic{
    width: 20vw;
    height: auto;
}
body{
    background-color: rgb(241, 135, 218);
   }
   h1{
       font-size: 35px;
   }
   li{
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-weight: inherit;
       font-size: 15px;
   }
   p{
       background-color: cyan;
   }
   
@media (max-width:500px){
    p{
        background-color: yellow;
        font-size:  25px ;
    }
}
   


   
   
   


